.page {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

