.header {
  display: flex;
  justify-content: space-between;
  padding: 28px 0 0 0;
  max-width: 1184px;
  width: 92.5%;
}

@media screen and (max-width:1024px) {
  .header {
    width: 90.625%;
  }
}



@media screen and (max-width:768px) {
  .header {
    width: 93.75%;
  }
}

@media screen and (max-width:320px) {
  .header {
    padding: 16px 0 0 0;
    width: 90%;
  }
}