.lead__image {
  width: 100%;
  margin: 64px 0 0 0;
  box-sizing: border-box;
  overflow: hidden;
}

@media screen and (max-width:1024px) {
  .lead__image {
    margin: 56px 48px 0 48px;
  }
}


@media screen and (max-width:460px) {
  .lead__image {
    margin: 40px 0 0 0;
  }
}

@media screen and (max-width:288px) {
  .lead__image {
    margin: 0 0 0 0;
  }
}