.intro__text {
  margin: 0 0 33px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
/* or 26px */
  outline: 1px blue solid;
  color: #FFFFFF;
  max-width: 690px;
}


