.lead__caption {
  text-align: left;
  box-sizing: border-box;
  margin: 8px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  color: #FFFFFF;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  align-self: flex-start;
}

@media screen and (max-width:768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media all and (max-width:320px) {
  .lead__caption {
    margin-left: 16px;
  }
}