.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 92px 0 24px 0;
  max-width: 1184px;
  width: 92.5vw;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 88px 0 24px 0;
    width: 90.625vw; 
  }
}


@media screen and (max-width: 768px) {
  .footer {
    padding: 88px 0 24px 0;
    width: 93.75vw;
  }
}

@media all and (max-width: 620px) {
  .footer {
    padding: 64px 0 24px 0;
    flex-direction: column;
    width: 90vw;
  }
}

@media all and (max-width: 300px) {
  .footer {
    padding: 64px 16px 24px 0;
    flex-direction: column;
    display: block;
    width: inherit;
  }
}

